@import "../fonts/awesome/scss/variables";
@import "../fonts/awesome/scss/mixins";
@import "../fonts/awesome/scss/path";
@import "../fonts/awesome/scss/core";
@import "../fonts/awesome/scss/larger";
@import "../fonts/awesome/scss/fixed-width";
@import "../fonts/awesome/scss/list";
@import "../fonts/awesome/scss/bordered-pulled";
@import "../fonts/awesome/scss/animated";
@import "../fonts/awesome/scss/rotated-flipped";
@import "../fonts/awesome/scss/stacked";
@import "../fonts/awesome/scss/icons";
@import "../fonts/awesome/scss/screen-reader";


@font-face {
  font-family: 'Kuro';
  src: url( ../fonts/kuro/Kuro-Regular.eot);
  src: url('../fonts/kuro/Kuro-Regular.eot?#iehack') format('eot'), 
       url('../fonts/kuro/Kuro-Regular.woff') format('woff'), 
       url('../fonts/kuro/Kuro-Regular.ttf')  format('truetype'),
       url('../fonts/kuro/Kuro-Regular.svg#svgFontName') format('svg');

  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Kuro';
  src: url( ../fonts/kuro/Kuro-Bold.eot);
  
  src: url('../fonts/kuro/Kuro-Bold.eot?#iehack') format('eot'), 
       url('../fonts/kuro/Kuro-Bold.woff') format('woff'), 
       url('../fonts/kuro/Kuro-Bold.ttf')  format('truetype'),
       url('../fonts/kuro/Kuro-Bold.svg#svgFontName') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Kuro';
  src: url( ../fonts/kuro/Kuro-Light.eot);
      
  src: url('../fonts/kuro/Kuro-Light.eot?#iehack') format('eot'), 
       url('../fonts/kuro/Kuro-Light.woff') format('woff'), 
       url('../fonts/kuro/Kuro-Light.ttf')  format('truetype'),
       url('../fonts/kuro/Kuro-Light.svg#svgFontName') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Kuro';
  src: url( ../fonts/kuro/Kuro-Medium.eot);

  src: url('../fonts/kuro/Kuro-Medium.eot?#iehack') format('eot'), 
       url('../fonts/kuro/Kuro-Medium.woff') format('woff'), 
       url('../fonts/kuro/Kuro-Medium.ttf')  format('truetype'),
       url('../fonts/kuro/Kuro-Medium.svg#svgFontName') format('svg');
  font-weight: 600;
  font-style: normal;
}