body {
    background: #f4f4f4;
}
a {
    transition: 1s all;
}
a:hover {
    color: #005030;
}
button:focus {
    outline: none;
}
main {
    font-family: 'Kuro';
    letter-spacing: -1px;
}
main section {
    margin-bottom: 20px;
    width: 100%;
}
.slider .inner-slider {
    position: relative;
    .item {
        position: relative;
        height: 300px;
        background-size: cover;
        background-position: center;
        .text-slider {
            position: absolute;
            top: 40px;
            left: 40px;
            background-color: rgba($color: #81bd41, $alpha: .6);
            color: #fff;
            border-radius: 5px;
            box-shadow: 2px 2px 4px rgba(102, 102, 102, 0.42);
            float: left;
            max-height: 300px;
            padding: 35px 20px;
            max-width: 505px;
            font-family: 'Kuro';
            h2 {
                font-weight: 600;
                font-size: 43px;
                margin-bottom: 0;
                text-shadow: 60px 0px 5px rgba(0,0,0,.5);
            }
            h4 {
                font-size: 27px;
                font-weight: 600;
                text-shadow: 45px 0px 5px rgba(0,0,0,.5);
            }
            p {
                font-size: 18px;
                line-height: 22px;
                margin-bottom: 0;
                text-align: justify;
                text-shadow: 2px 2px 2px rgba(0,0,0,.5);
            }
        }
    }
    .owl-dots {
        position: absolute;
        right: 30px;
        bottom: 10px;
        button {
            background: rgba(255,255,255,.7);
            width: 13px;
            height: 13px;
            margin-left: 8px;
            border-radius: 50%;
            border: 1px solid rgba(255,255,255,.7);
        }
        button.active, button:hover {
            background: #82BC00;
            border: 1px solid #fff;
        }
        button:focus{
            outline: none;
        }
    }

}
.login-ibanking {
    padding: 15px;
    width: 100%;
    float: left;
    min-height: 195px;
    background-color: #d1e6b6;
    border-radius: 5px;
    font-family: 'Kuro';
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h3 {
        text-align: left;
        color: #333;
        display: block;
        font-size: 22px;
        margin-bottom: 5px;
        letter-spacing: -1px;
        span {
            color: #005030;
            font-size: 35px;
            font-weight: 600;
        }
    }
    .submit-login {
        text-align: center;
        button {
            text-align: center;
            background: #005030;
            border-radius: 5px;
            margin-top: 10px;
            border: none;
            margin-left: 0;
            width: 214px;
            height: 55px;
            color: #fff;
            font-size: 22px;
            text-transform: uppercase;
            cursor: pointer;
        }
        button:hover {
            background: rgba($color: #000, $alpha: 0.8);
        }
    }
}
section.news-home .row {
    margin-right: -8px;
    margin-left: -8px;
    .col-lg-9 ,.col-lg-3,.col-lg-4 {
        padding-left: 8px;
        padding-right: 8px;
    }
    .item-blog {
        border: 1px solid #999;
        border-radius: 5px;
        padding: 5px;
        img {
            max-width: 100%;
        }
        ul {
            padding-left: 20px;
            li {
                font-size: 15px;
                margin: 8px 0 5px;
                color: #404041;
                list-style: disc;
                font-weight: 600;
                line-height: normal;
            }
            li:hover {color:#005030 ;}
        }
    }
    .read-more {
        text-align: right;
        margin-top: 10px;
        a {
            font-size: 13px;
            color: #144733;
            font-weight: 600;
        }
        a:hover {
            color: #000;
        }
    }
}
.nav-tabs {
    margin-bottom: 10px;
    // border-bottom: 1px solid #6D6E70;
    border-bottom: 2px solid #154734;
    .nav-item {
        background: #fff;
        font-size: 15px;
        font-weight: 600;
        color: #404041!important;
        border: 1px solid #6D6E70;
        border-radius: 8px 8px 0 0;
        width: 175px;
        padding-top: 6px;
        padding-bottom: 5px;
        display: flex;
        justify-items: center;
        justify-content: center;
    }
    .nav-item.active , .nav-item:hover {
        background: #144633;
        color: #fff!important;
        border-color:#144633;
    }
}
section.ty-gia {   
    #gia-tab {
        margin-bottom: 0;
        border: none;
        float: left;
        width: 150px;
        .nav-item {
            width: auto;
            padding: 6px 12px 5px;
            height: 35px;
        }
    }
    .tab-pane {
        float: left;
        width: calc(100% - 150px);
        height: 35px;
        line-height: 35px;
        ul {
            margin-bottom: 0;
            padding: 0 0 0 15px;
            li{
                font-size: 15px;
                font-weight: 600;
                span {
                    color: #144733;
                    font-weight: bold;
                    margin-left: 8px;
                }
            }
        }
    }
    table.table-tygia {
        display: none;
    }
}
section.news-home .tab-content > .tab-pane ,section.ty-gia .tab-content > .tab-pane {
    display: block;
    overflow: hidden;
    height: 0;
}
section.news-home .tab-content > .tab-pane.active ,section.ty-gia .tab-content > .tab-pane.active {
    overflow: initial;
    height: auto;
}

// Khách hàng tổ chức

.breadcrumb-item + .breadcrumb-item::before {
    content: '>';
    color: #000;
}
aside .widget {
    margin-bottom: 20px;
    margin-top: 0;
    width: 100%;
    float: left;
    .widget-title {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: bold;
        color: #2E1342;
        border: 1px solid #2E1342;
        border-radius: 5px;
        padding: 12px 15px 8px;
        margin-bottom: 10px;
    }
    .widget-content ul {
        padding: 0;
        li {
            width: 100%;
            float: left;
            a {
                color: #000;
                font-size: 15px;
                border-bottom: 1px solid #BDBEC0;
                padding: 10px 15px;
                width: 100%;
                float: left;
                font-weight: 600;
            }
            a:hover {
                color: #005030;
            }
        }
    }
}
aside .widget ul {
    ul.sub-cat {
        display: none;
        // padding-left: 15px;
        width: 100%;
        float: left;
        li a {
            padding: 10px 10px 10px 28px;
        }
        li::before {
            content: '\f111';
            font-family: fontawesome;
            position: absolute;
            line-height: 40px;
            font-size: 6px;
            left: 15px;
        }
        ul.sub-cat-child {
            // padding-left: 10px;
            display: none;
            width: 100%;
            float: left;
            li a {
                padding: 10px 10px 10px 38px;
            }
            li::before {
                left: 25px;
            }
        }
    }
    li {
        position: relative;
        i {
            position: absolute;
            right: 0;
            top: 0;
            width: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            line-height: 43px;
            font-size: 20px;
        }
        .fa-angle-down.active::before {
            content: '\f106';
        }
    }
    li.has-child .click-dr {
        display: inline-block;
        position: absolute;
        width: 30px;
        height: 30px;
        z-index: 1;
        top: 0;
        right: -3px;
        border: none;
    }
    li.has-child .click-dr::before {
        content: "\f107";
        font-family: 'fontawesome';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        height: 40px;
        width: 40px;
        padding-top: 10px;
        text-align: center;
        color: #000;
    }
    li.has-child a {
        padding-right: 40px;
    }
} 
.category-khtc .widget ul.sub-cat li::before {
    color: #933994;
}
.category-khtc .login-ibanking {
    background-color: rgba($color: #933994, $alpha: 0.4);
    padding: 10px;
    h3 {
        span {
            color: #2E1342;
            font-weight: 600;
        }
    }
    .submit-login button {
        background: #2E1342;
    }
    .submit-login button:hover {
        background: #005030;
    }
}
aside .widget-tool {
    border: 1px solid #2E1342;
    border-radius: 5px;
    .widget-title {
        border: none;
        border-bottom: 1px solid #BDBEC0;
        border-radius: 0;
    }
    .widget-content {
        width: 100%;
        float: left;
        padding: 0 15px;
        ul li {
            padding: 10px 10px 10px 35px;
            display: flex;
            border-bottom: 1px solid #BDBEC0;
            align-items: center;
            background: url('../images/tools-bg.png') no-repeat 0px 0px;
            img {
                float: left;
                display: inline-block;
                margin-right: 10px;
                width: 24px;
            }
            a {
                padding: 0;
                float: left;
                width: auto;
                border: none;
            }
        }
        ul li:last-child {
            border: none;
        }
        ul li.tygia {
            background-position: 0px 10px;
        }
        ul li.laisuat {
            background-position: 0px -23px;
        }
        ul li.bieuphi {
            background-position: 0px -57px;
        }
        ul li.bieumau {
            background-position: 0px -88px;
        }
        ul li.mangluoi {
            background-position: 0px -120px;
        }
    }
}
.category-khtc aside .widget-tool .widget-content ul li {
    background-image: url('../images/tools-bg-corp.png');
}
.category-khut aside .widget-tool .widget-content ul li {
    background-image: url('../images/tools-bg_vip.png');
}
ol.breadcrumb {
    border: none;
    background: none;
    padding: 10px 0;
    margin-bottom: 10px;
    a {
        color: #000;
        font-size: 15px;
        font-weight: 500;
    }
    a:hover {
        color: #005030;
    }
    .breadcrumb-item.active {
        color:#2f1443;
        font-weight: bold;
    }
}
section.content {
    .row {
        display: block;
        margin-right: -12px;
        margin-left: -12px;
        .col-xs-12 ,.col-xs-12 , .col-xl-3,.col-xl-9 {
            padding-right: 12px;
            padding-left: 12px;
        }
        .col-xl-9 {
            float: right;
        }
        .row {display: flex;}
    }
}
article {
    margin-bottom: 20px;
    img {
        border-radius: 5px;
        width: 100%;
    }
    .cat-parent a {
        color: #2f1443;
        font-weight: 600;
        h2 {
            margin: 12px 0 10px;
            font-size: 15px;
            text-transform: uppercase;
            font-weight: 600;
        }
    }
    .cat-parent a:hover {
        color: #933994;
    }
    ul {
        padding-left: 16px;
        margin-bottom: 5px;
        li {
            list-style: initial;
            font-size: 18px;
            color: #2f1443;
            a {
                color: #231f20;
                font-weight: 600;
                font-size: 15px;
            }
            a:hover {
                color: #933994;
            }
        }
    }
    a.read-more {
        color: #2f1443;
        font-size: 13px;
        font-weight: 600;
    }
    a.read-more:hover {
        color: #000;
    }
    .title-post {
        margin: 12px 0 8px;
        font-size: 15px;
        text-transform: uppercase;
        a {
            color: #2f1443;
            font-weight: 600;
        }
        a:hover {
            color: #933994;
        }
    }
    .excerpt {
        font-size: 15px;
        color: #231f20;
        font-weight: 600;
        text-align: justify;
        line-height: normal;
        margin-bottom: 10px;
    }
}
.inner-banner {
    position: relative;
    .item {
        position: relative;
        height: 300px;
        background-size: cover;
        background-position: center;
        .text-slider {
            position: absolute;
            top: 40px;
            left: 40px;
            background-color: rgba(129, 189, 65, 0.6);
            color: #fff;
            border-radius: 5px;
            -webkit-box-shadow: 2px 2px 4px rgba(102, 102, 102, 0.42);
            box-shadow: 2px 2px 4px rgba(102, 102, 102, 0.42);
            float: left;
            max-height: 300px;
            padding: 35px 20px;
            max-width: 505px;
            font-family: 'Kuro';
            h2 {
                text-transform: uppercase;
                padding-right: 100px;
                font-size: 39px;
                margin-bottom: 8px;
                text-shadow: none;
                letter-spacing: -1px;
                font-weight: 500;
            }
            p {
                font-size: 18px;
                line-height: 22px;
                margin-bottom: 0;
                text-align: justify;
            }
        }
    }
}
.category .inner-slider .item .text-slider {
    background: rgba($color: #933995, $alpha: 0.6);
    h2 {
        text-transform: uppercase;
        padding-right: 100px;
        font-size: 39px;
        margin-bottom: 8px;
        text-shadow: none;
        letter-spacing: -1px;
        font-weight: 500;
    }
    p {
        text-shadow: none;
    }
}
.category-khtc main{
    .inner-banner .item .text-slider  {
        background-color: rgba(147, 57, 149, 0.6);
    }
    a:hover {
        color: #933994!important;
    }
}
.category-khut main{
    .inner-banner .item .text-slider  {
        background-color: rgba(84, 46, 27, 0.6)!important;
    }
    a:hover {
        color: #542e1b!important;
    }
}
.category.category-khut .inner-slider .item .text-slider {
    background: rgba(214, 189, 122, .8)!important;
}
.category-khut aside .widget .widget-title {
    color: #542e1b;
    border-color: #542e1b;
}
.category-khut main a:hover ,.category-khut .login-ibanking h3 span{
    color: #542e1b;
}
.category-khut .login-ibanking {
    background-color: rgba(214, 189, 122, 0.8);
}
.category-khut .login-ibanking .submit-login button {
    background: #542e1b;
}
.category-khut .login-ibanking .submit-login button:hover {
    background: rgba(0, 0, 0, 0.8);
}
.header-single .meta-post ul.posted ,.header-single .meta-post  ul.share {
    padding: 0;
    li {
        display: inline-block;
    }
}
.header-single .meta-post ul.posted {
    float: left;
}
.header-single .meta-post  ul.share {
    float: right;
}
.header-single {
    width: 100%;
    float: left;
    margin-bottom: 15px;
    h1 {
        font-size: 18px;
        text-transform: uppercase;
        margin: 8px 0px 20px;
    }
}
.content-single img {
    border-radius: 5px;
}
.info-single {
    .hd-info {
        padding: 0 0 5px;
        margin: 10px 0;
        border-bottom: 1px dotted #333;
        li {
            display: inline-block;
            a {
                font-size: 18px;
                color: #414042;
            }
        }
        li:before {
            content: '|';
            font-size: 22px;
            padding: 0 10px;
        }
        li:first-child a {
            color: #943995;
        }
        li:first-child:before {
            display: none;
        }
    }
    .content-info {
        padding: 15px;
        border-radius: 10px;
        margin-top: 20px;
        background: #fff;
        h2 {
            font-size: 18px;
            color: #943995;
            text-transform: uppercase;
            margin: 10px 0;
        }
        ul li {
            list-style: disc;
            font-size: 15px;
            font-weight: bold;
            ul.sub-mn li {
                font-weight: 500;
            }
        }
    }
}
#thau-chi {
    background: #ede7f3;
}
.wiget-km {
    display: none;
}
section.news-home .inner-tab {
    position: relative;
    .owl-nav button {
        position: absolute;
        top: 50%;
        background-image: url(../images/icon-nav-hover.png);
        width: 28px;
        height: 28px;
        font-size: 0;
        background-size: cover;
    }
    .owl-nav button.owl-prev { 
        left: -10px;
    }
    .owl-nav button.owl-next {
        right: -10px;
        transform: rotate(180deg);
    }
    .owl-nav button:hover {
        background-image: url(../images/icon-nav.png);
    }
    .owl-nav button.owl-prev:hover {
        transform: rotate(180deg);
    }
    .owl-nav button.owl-next:hover {
        transform: rotate(0);
    }
}


@media(min-width: 1300px) {
    .container {
        max-width: 1230px!important;
    }
}
@media (max-width: 1199px ) {
.inner-banner .item .text-slider h2 {
    padding-right: 40%;
}
.login-ibanking {
    min-height: 182px;
    h3 {
        font-size: 20px;
        span {
            font-size: 28px;
            display: block;
        }
    }
    .submit-login button {
        width: 200px;
        height: 50px;
    }
}

}
@media(max-width: 1024px) {
.slider {
    margin-bottom: 0;
    .container {
        width: 100%;
        padding: 0;
        max-width: 100%;
    }
    .inner-slider .item .text-slider {
        left: 20px;
        max-width: 70%;
    }
}
.banner-header {
    .container {
        width: 100%;
        padding: 0;
        max-width: 100%;
    }
    .inner-banner .item .text-slider {
        left: 20px;
        max-width: 70%;
    }
}
section.news-home .row {
    margin: 0;
    .col-lg-9 ,.col-lg-4 {
        max-width: 100%;
        flex: 100%;
        padding: 0;
    }
    .col-lg-3 {
        display: none;
    }
    .read-more {
        display: none;
    }
}
.login-ibanking {
    min-height: auto;
    h3 {
        font-size: 20px;
        line-height: 28px;
        span {
            font-size: 26px;
        }
    }
    .submit-login button {
        width: auto;
        height: auto;
        font-size: 20px;
        padding: 8px 16px;
    }
}
.widget-category ,.widget.login-ibanking {
    display: none;
}
.single .wiget-km {
    display: block;
    margin-top: 25px!important;
    border-top: 1px solid #333;
    padding-top: 25px;
    .widget-title {
        color: #144733 !important;
        text-transform: uppercase !important;
        border: none!important;
        padding: 8px 0 !important;
        margin-bottom: 0!important;
    }
    ul {
        padding-left: 25px!important;
        li {
            padding: 6px 0;
            list-style: disc;
            color: #144733;
            font-size: 20px;
            a {
                border: none!important;
                width: auto!important;
                display: inline-block;
                padding: 0!important;
                span {
                    display: inline-block;
                    color: #939598;
                    font-size: 12px;
                    margin-left: 5px;
                }
            }
        }
    }
}


}

@media(min-width:992px) {
.container {
    max-width: 98%;
}
section.content .container {
    max-width: 100%;
}

}


@media(max-width: 800px) {
.slider .inner-slider {
    .owl-dots {
        position: relative;
        right: 0;
        bottom: 0;
        margin: 12px 0;
        text-align: center;
        button {
            border: 1px solid rgba(0, 0, 0, 0.5)
        }
    }
    .item {
        .text-slider {
            left: 0;
            max-width: 100%;
            width: 100%;
            bottom: 0;
            top: auto;
            padding: 10px 15px;
            h2 {
                font-size: 36px;
                text-transform: none;
            }
            h4 , p{
                display: none;
            }
        }
    }
}
.banner-header .inner-banner {
    .item {
        .text-slider {
            left: 0;
            max-width: 100%;
            width: 100%;
            bottom: 0;
            top: auto;
            padding: 10px 15px;
            h2 {
                font-size: 36px;
                text-transform: none;
            }
            h4 , p{
                display: none;
            }
        }
    }
}
.inner-banner .item ,.slider .inner-slider .item {
    height: 200px;
    background-position: top center;
}
main .container {
    max-width: 100%!important;
}
    
}
@media(min-width:768px) {
.container {
    max-width: 98%;
}

}
@media(max-width: 767px) {
.news-home .nav-tabs .nav-item {
    width: auto;
    float: left;
    font-size: 14px;
    padding: 6px 18px 5px;
}
.inner-banner .item ,.slider .inner-slider .item {
    height: 175px;
}
section.news-home .row {
    .item-blog {
        width: 100%;
        float: left;
        margin-bottom: 10px;
        img {
            max-width: 40%;
            float: left;
        }
        ul {
            float: left;
            width: 60%;
            padding-left: 30px;
            li {
                margin: 0;
            }
        }
    }
    .read-more {
        display: block;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 10px;
    }
}
section.slider-home  {
    margin-bottom: 0;
}
.content-category {
    margin-bottom: 20px;
}
.article-post {
    margin-bottom: 10px;
    width: 100%;
    float: left;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    img {
        max-width: 40%;
        float: left;
    }
    .title-post {
        float: left;
        width: 60%;
        padding-left: 15px;
        margin: 0;
        font-weight: 600;
        text-transform: none;
        line-height: normal;
    }
    .excerpt , a.read-more {
        display: none;
    }
}
.content-category .col-xs-12:last-child .article-post {border: none;}
.slider .inner-slider {
    .item {
        .text-slider {
            padding: 8px 15px;
            h2 {
                font-size: 26px;
            }
        }
    }
}
.banner-header .inner-banner {
    .item {
        .text-slider {
            padding: 8px 15px;
            h2 {
                font-size: 26px;
            }
        }
    }
}
main section {
    margin-bottom: 10px;
}
ol.breadcrumb {
    padding: 0;
    a {
        font-size: 14px;
    }
}
.header-single h1 {
    text-transform: none;
    margin: 8px 0px 15px;
    color: #144633;
    font-weight: 600;
}
.header-single .meta-post {
    ul.posted {
        display: none;
    }
    ul.share {
        float: left;
        text-align: right;
        width: 100%;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
    }
}
.info-single ul {
    padding-left: 15px;
}
aside .widget-tool .widget-content ul li img {
    margin-right: 10px;
    width: 24px;
}
section.ty-gia {
    table.table-tygia {
        display: block;
        tr {
            text-align: center;
            th {
                padding: 5px 2px;
            }
        }
        tr.classth{
            font-weight: bold;
            color: #144633;
        }
        tr.odd td {
            padding: 5px 0;
            color: #414042;
        }
    }
    .tab-pane ul {
        display: none;
    }
    #gia-tab {
        width: 100%;
        .nav-item {
            padding: 6px 25px 5px;
        }
    }
    .tab-pane {
        width: 100%;
        height: auto;
        line-height: normal;
    }
}

}

@media(max-width: 375px) {
main .container {
    padding: 0 10px;
}
.text-slider h2 {
    font-size: 22px!important;
}


}