footer{
    border-top: 2px solid #144633;
    background-color: #144633;
    color: #fff;
    .ft-control{
        background-color: #fff;
        padding: 10px;
        a{
            font-size: 15px;
            color: #000;
            font-weight: 500;
        }
        .go-to-top{
            margin-left: auto;
        }
        .expand-footer{
            &.active{
                i{
                    transform: rotateZ(180deg);
                }
            }
        }
    }
    .footer-link{
        .footer-link-title{
            font-size: 15px;
            font-weight: 500;
            color: #fff;
            text-transform: uppercase;
        }
        .list-link{
            padding: 0;
            .link-item{
                .link{
                    font-size: 15px;
                    font-weight: 500;
                    color: #fff;
                    position: relative;
                    &::before{
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 0%;
                        border-bottom: 1px solid #fff;
                        transition: 0.3s all;
                    }
                    &:hover{
                        &::before{
                            width: 100%;
                            transition: 0.3s all;
                        }
                    }
                }
            }
        }
    }
    .box-link-icon{
        padding: 20px 0 10px;
        border-bottom: 2px solid #82BC00;
        margin-bottom: 15px;
    }
    .box-list-link{
        padding-bottom: 20px;
        background-image: url('../images/bg-footer.png');
        background-position: bottom;
        background-repeat: no-repeat;
    }
    .support-chat{
        a{
            font-size: 15px;
            font-weight: 500;
            color: #fff;
            text-transform: uppercase;
        }
    }

    .icon{
        background-image: url('../images/ic_footer.png');
        background-repeat: no-repeat;
        width: 18px;
        height: 18px;
        display: inline-block;
        margin-right: 2px;
        vertical-align: -5px;
    }
    .ic_phone{
        background-position: -24px -34px;
    }
    .ic_email{
        background-position: -24px -53px;
    }
    .ic_atm{
        background-position: -95px -33px;
    }
    .ic_vcb{
        background-position: -95px -51px;
    }
    .ic_location{
        background-position: -94px -67px;
    }
    .ic_ty-gia{
        background-position: -189px -33px;
    }
    .ic_lai-xuat{
        background-position: -189px -51px;
    }
    .ic_bieu-phi{
        background-position: -190px -67px;
    }
    .ic_bieu-mau{
        background-position: -265px -43px;
    }
    .ic_chuyen-doi-ngoai-te{
        background-position: -335px -40px;
    }
    .ic_lich{
        background-position: -336px -56px;
    }
    .ic_tinh-lai{
        background-position: -332px -75px;
    }
    .ic_chat{
        width: 44px;
        height: 44px;
        display: block;
        background-position: -402px -21px;
        margin: 5px 55px;
    }

    .ft-bot{
        background-color: #fff;
        padding: 10px 0;
        .menu-link-ft{
            @extend .d-flex, .flex-wrap;
            padding-left: 0;
            font-size: 15px;
            font-weight: 500;
            max-width: 60%;
            li{
                &:not(:last-child()){
                    &::after{
                        content: '|';
                        margin: 0 8px;
                        color: #404041;
                        font-size: 16px;
                    }
                }
            }
            a{
                color: #404041;
            }
        }
        .social-list-link{
            @extend .d-flex, .align-items-center;
            margin-left: auto;
            padding-left: 0;
            h5{
                padding-left: 0;
                font-size: 15px;
                font-weight: 500;
                color: #404041;
                margin-bottom: 0;
            }
            .social-link{
                a{
                    width: 32px;
                    height: 32px;
                    line-height: 32px;
                    text-align: center;
                    color: #404041;
                    border: 1px solid #404041;
                    border-radius: 3px;
                    display: inline-block;
                    margin: 0 5px;
                    font-size: 22px;
                }
            }
        }
    }
}
.category-khtc{
    footer{
        background-color: #2E1342;
        border-top: 2px solid #2E1342;
    }
}
.category-khut{
    footer{
        background-color: #542E1A;
        border-top: 2px solid #542E1A;
    }
}


@media (max-width: 1199px){
    footer{
        .box-link-icon{
            .list-link{
                display: none;
            }
        }
        .support-chat{
            a{
                border-radius: 3px;
                margin-left: auto;
                border: 1px solid #fff;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                max-width: 225px;
                .ic_chat{
                    margin: 7px 10px;
                }
            }
        }
        .ft-bot{
            .menu-link-ft{
                max-width: 70%;
            }
            .social-list-link{
                -webkit-box-pack: end;
                -ms-flex-pack: end;
                justify-content: flex-end;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                li{
                    &:first-child{
                        width: 100%;
                        text-align: right;
                        margin-bottom: 8px;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px){
    footer{
        background-image: url(../images/bg-footer.png);
        background-position: bottom center;
        background-repeat: no-repeat;
        background-color: transparent;
        border-top: 0;
        .box-list-link, .ft-control{
            display: none;
        }
        .footer-link .footer-link-title{
            color: #404041;
            &::after{
                content: "\f105";
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                float: right;
                padding: 0px 6px;
                font-size: 20px;
            }
        }
        .box-link-icon{
            border-bottom: 0;
        }
        .support-chat a{
            margin-top: 30px;
            max-width: 100%;
            width: 100%;
            background-color: #144633;
            border-radius: 5px;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            .ic_chat{
                margin: 10px 10px;
                zoom: 0.8;
            }
        }
        .box-link-icon{
            margin-top: 30px;
            .footer-link{
                padding: 10px 0px;
            }
            .footer-link-title{
                border-bottom: 1px solid #97999C;
                margin-bottom: 0;
                padding-bottom: 8px;
            }
        }
    } 
    footer .ft-bot{
        background-color: transparent;
    }
    footer .ft-bot .menu-link-ft{
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        li{
            width: 100%;
            text-align: center;
        }
    }
    footer .ft-bot .menu-link-ft li:not(:last-child)::after{
        display: none;
    }
    footer .ft-bot .social-list-link{
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    footer .ft-bot .social-list-link li:first-child{
        text-align: center;
    }
}