header{
    position: relative;
    z-index: 111;
}
i.rotate{
    transform: rotateZ(180deg);
}
.header{
    @extend .d-flex, .d-xl-block, .flex-row-reverse, .align-items-center;
    .top-bar{
        @extend .d-flex, .justify-content-end;
        padding-top: 8px;
        padding-bottom: 10px;
        .link-top{
            @extend .d-xl-flex, .align-items-center;
            padding-left: 0;
            .link-top{
                display: none;
            }
            li{
                padding: 0 12px;
                &:not(:last-child()){
                    border-right: 1px solid $theme;
                }
                a{
                    font-size: 16px;
                    color: #333;
                    position: relative;
                    &::before{
                        content: '';
                        border-bottom: 1px solid $theme;
                        position: absolute;
                        left: 0;
                        display: inline-block;
                        width: 0;
                        bottom: -2px;
                        transition: 0.3s all;
                    }
                    &:hover{
                        &::before{
                            width: 100%;
                            transition: 0.3s all;
                        }
                    }
                }
            }
        }
        .right{
            @extend .d-flex;
            margin-left: 100px;
            .form-search{
                background-color: #fff;
                border-radius: 4px;
                border: 1px solid #728579;
                overflow: hidden;
                input{
                    border: 0;
                    height: 28px;
                    padding: 0 10px;
                    outline: 0;
                }
                .btn-search{
                    background-color: transparent;
                    border: 0;
                    height: 28px;
                    i{
                        
                    }
                }
            }
            .language{
                margin-left: 12px;
                img{
                    max-width: 38px;
                }
            }
        }
    }
    .header-main{
        @extend .d-flex, .align-items-center;
        background-color: #fff;
        border-radius: 10px;
        margin-bottom: 15px;
        padding: 10px 20px;
        position: relative;
        .logo{
            margin-right: auto;
            padding: 0 10px;
            img{
                max-width: 190px;
            }
        }
        .hot-line{
            border-radius: 10px;
            border: 1px solid $theme;
            padding-right: 20px;
            margin-left: 20px;
            width: 190px;
            @extend .d-none, .d-xl-flex, .align-items-center;
            .icon{
                @include col-w(57px);
                padding: 12px;
                display: inline-block;
                img{
                    max-width: 32px;
                }
            }
            p{
                margin-bottom: 0;
                letter-spacing: -1px;
            }
            .text-1{
                display: block;
                font-size: 12px;
                font-weight: 600;
                color: $theme;
                white-space: nowrap;
            }
            .text-2{
                font-size: 18px;
                font-weight: bold;
                color: $theme;
                white-space: nowrap;
            }
        }
        .menu-bar{
            margin-right: 20px;
            padding-top: 20px;
            i{
                background-color: #00502F;
                border-radius: 5px;
                height: 2px;
                width: 20px;
                display: inline-block;
                margin-bottom: 5px;
            }
        }
        .overlay-mobile{
            display: none;
        }
    }
    .login-home{
        .log-vcb{
            margin-right: 30px;
            .btn-log{
                background-color: #144633;
                border-radius: 5px;
                color: #82BC00;
                font-size: 12px;
                font-weight: 600;
                display: inline-block;
                padding: 7px 16px;
                b{
                    color: #fff;
                    font-size: 15px;
                    font-weight: 600;
                }
            }
            ul{
                display: none;
            }
        }
    }
    .menu-wrap{
        .main-menu{
            @extend .d-flex;
            padding-left: 0;
        }
        .menu-item{
            padding-top: 7px;
            padding-bottom: 7px;
            @media (min-width: 1200px) {     
                &:not(:last-child()){
                    padding-right: 14px;
                    margin-right: 14px;
                    border-right: 1.5px solid $theme;
                }
            }
            .menu-link{
                white-space: nowrap;
                color: #000000;
                font-weight: 700;
                text-transform: uppercase;
                font-size: 16px;
                letter-spacing: -1.5px;
                position: relative;
                .icon{
                    img{
                        max-height: 20px;
                        margin-right: 5px;
                    }
                }
                i{
                    margin-left: 8px;
                }
            }
            .btn-toggle-menu{
                display: none;
            }
            &.has-sub{
                .menu-link{
                    &::before{
                        content: '';
                        border-left: 15px solid transparent;
                        border-right: 15px solid transparent;
                        border-bottom: 17px solid #154734;
                        position: absolute;
                        top: 60px;
                        left: 50%;
                        transform: translateX(-50%);
                        transition: 0s all;
                        opacity: 0;
                    }
                    @media (min-width: 1200px) {
                        &::after{
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 58px;
                            z-index: 11;
                            left: 0;
                        }
                    }
                }
            }
        }
    }
    .mega-menu{
        padding-top: 8px;
        padding-bottom: 18px;
        padding-left: 10px;
        padding-right: 10px;
        .main-menu-mega{
            padding-left: 0;
            @extend .d-xl-flex, .justify-content-around;
            .menu-mega-item{
                @include col-w(80px);
                .link{
                    text-align: center;
                    position: relative;
                    height: 100%;
                    z-index: 12;
                    @extend .d-xl-flex, .flex-column, .justify-content-center, .align-items-center;
                    img{
                        display: inline-block;
                        -webkit-box-flex: 0;
                        -ms-flex: 0 0 60px;
                        flex: 0 0 60px;
                        object-fit: scale-down;
                        margin-bottom: 8px;
                        transition: 0.2s all;
                        transform: scale(1);
                        filter: drop-shadow(0px 0px 0px transparent);
                    }
                    span{
                        font-size: 15px;
                        color: #fff;
                        display: block;
                        letter-spacing: -0.6px;
                    }
                }
                &.has-sub{
                    .link{
                        &::before{
                            content: '';
                            border-left: 12px solid transparent;
                            border-right: 12px solid transparent;
                            border-top: 12px solid #154734;
                            position: absolute;
                            top: calc(100% + 0px);
                            left: 50%;
                            transform: translateX(-50%);
                            transition: 0.3s all;
                            opacity: 0;
                            z-index: 1;
                        }
                    }
                }
            }
        }
    }
    .main-sub-mega{
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
        background-color: rgba(209, 211, 212, 0.95);
        padding-left: 0;
        padding: 15px 40px;
        @extend .d-xl-flex, .flex-wrap;
        .sub-mega-item{
            @include col-w(calc(25% - 40px));
            border-bottom: 1px solid #58585B;
            margin-right: 40px;
            padding-bottom: 7px;
            margin-bottom: 20px;
            &:hover{
                box-shadow: 0px 1px 0 0px #58585B;
                span{
                    font-size: 15px;
                    color: #404041;
                    text-shadow: 0 0 1px #404041;
                }
            }
            .mega-link{
                img{
                    max-width: 33px;
                    object-fit: scale-down;
                    margin-right: 15px;
                }
                span{
                    font-size: 15px;
                    color: #404041;
                }
            }
        }
    }

    // hover menu
    @media (min-width: 1200px) {
        .menu-wrap{
            .menu-item{
                &:hover{
                    .menu-link{
                        color: #144733;
                        text-shadow: 0 0 1px #144733;
                        &::before{
                            display: block;
                            top: 40px;
                            opacity: 1;
                            transition: 0.3s all 0.2s;
                        }
                    }
                }
            }
        }
        .mega-menu{
            position: absolute;
            background: #154734;
            left: 0;
            right: 0;
            top: 100%;
            z-index: 10;
            
            .main-menu-mega{
                .menu-mega-item:hover{
                    .link::before{
                        display: block;
                        top: calc(100% + 18px);
                        opacity: 1;
                        transition: 0.3s all 0.3s;
                        z-index: 11;
                    }
                    img{
                        transform: scale(0.95);
                        transition: 0.2s all;
                        filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.3));
                    }
                }
            }
        }
        .mega-menu{
            transform: translateY(60px) scaleY(0);
            opacity: 0;
            z-index: -99;
            transition: 0.3s opacity, 0.3s transform, 0.3s z-index;
            &.active{
                transform: translateY(0px) scaleY(1);
                z-index: 11;
                opacity: 1;
                transition: 0.3s opacity, 0.3s transform;
            }
        }
        .animate-menu{
            position: absolute;
            left: 0;
            top: 100%;
            width: 100%;
    
            transform: translateY(60px);
            opacity: 0;
            z-index: -99;
            transition: 0.3s opacity, 0.3s transform;
            &.active{
                transform: translateY(0px);
                z-index: 11;
                opacity: 1;
                transition: 0.3s opacity, 0.3s transform;
            }
        }
    }
}


@media(min-width: 1199px){
    .header .menu-wrap .menu-item.menu-pink:hover .menu-link{
        color: #933994;
        text-shadow: 0 0 1px #933994;
    }
    .header .menu-wrap .menu-item.menu-pink.has-sub .menu-link::before{
        border-bottom-color: #933994;
    }
    .header .menu-pink .mega-menu{
        background-color: #933994;
    }
    .header .menu-pink .mega-menu .main-menu-mega .menu-mega-item.has-sub .link::before{
        border-top-color: #933994;
    }
    .header .menu-pink .main-sub-mega .sub-mega-item{
        border-bottom-color: #933994;
    }
    .header .menu-pink .main-sub-mega .sub-mega-item .mega-link span{
        color: #933994;
    }
    .header .menu-pink .main-sub-mega .sub-mega-item:hover{
        box-shadow: 0px 1px 0 0px #933994;
    }
    // ===============
    
    .header .menu-wrap .menu-item.menu-brown:hover .menu-link{
        color: #C39E2D;
        text-shadow: 0 0 1px #C39E2D;
    }
    .header .menu-wrap .menu-item.menu-brown.has-sub .menu-link::before{
        border-bottom-color: #C39E2D;
    }
    .header .menu-brown .mega-menu{
        background-color: #C39E2D;
    }
    .header .menu-brown .mega-menu .main-menu-mega .menu-mega-item.has-sub .link::before{
        border-top-color: #C39E2D;
    }
    // .header .menu-brown .main-sub-mega .sub-mega-item{
    //     border-bottom-color: #C39E2D;
    // }
    // .header .menu-brown .main-sub-mega .sub-mega-item .mega-link span{
    //     color: #C39E2D;
    // }
    // .header .menu-brown .main-sub-mega .sub-mega-item:hover{
    //     box-shadow: 0px 1px 0 0px #C39E2D;
    // }
}

@media(max-width: 1199px){
    .header{
        .top-bar{
            .link-top{
                position: fixed;
                background-color: #fff;
                z-index: 11;
                right: 0;
                top: 102px;
                width: 200px;
                box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0);
                padding: 30px 20px;
                transform: translateX(200px);
                transition: 1.5s all;
                li:not(:last-child){
                    border-right: 0;
                    margin-bottom: 10px;
                }
                .control{
                    display: block;
                    position: absolute;
                    left: -40px;
                    margin: 0;
                    padding: 0;
                    a{
                        height: 40px;
                        width: 40px;
                        background-color: $theme;
                        display: inline-block;
                        &:hover{
                            &::before{
                                display: none;
                            }
                        }
                    }
                    .icon{
                        &::before, &::after{
                            content: '';
                            width: 15px;
                            display: inline-block;
                            background-color: #fff;
                            height: 2px;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            transition: 0.5s all;
                        }
                        &::before{
                            transform: translate(-50%, -50%) rotateZ(-35deg);
                            margin-bottom: 7px;
                            margin-top: -4px;
                        }
                        &::after{
                            transform: translate(-50%, -50%) rotateZ(35deg);
                            margin-top: 4px;
                        }
                    }
                }
                li{
                    &:not(.control){
                        transform: translateX(200px);
                        transition: 0.3s all;
                    }
                    &:nth-child(2){
                        transition: 0.8s all;
                    }
                    &:nth-child(3){
                        transition: 1.2s all;
                    }
                    &:nth-child(4){
                        transition: 1.6s all;
                    }
                    &:nth-child(5){
                        transition: 2s all;
                    }
                    &:nth-child(6){
                        transition: 2.4s all;
                    }
                    &:nth-child(7){
                        transition: 2.8s all;
                    }
                }
                &.active{
                    transform: translateX(0px);
                    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
                    transition: 0.5s all;
                    .control{
                        .icon{
                            &::before{
                                transform: translate(-50%, -50%) rotateZ(35deg);
                                margin-bottom: 7px;
                                margin-top: -3px;
                                transition: 0.5s all;
                            }
                            &::after{
                                transform: translate(-50%, -50%) rotateZ(-35deg);
                                margin-top: 5px;
                                transition: 0.5s all;
                            }
                        }
                    }
                    li{
                        &:not(.control){
                            transform: translateX(0px);
                        }
                        &:nth-child(2){
                            transition: 0.8s all;
                        }
                        &:nth-child(3){
                            transition: 1.2s all;
                        }
                        &:nth-child(4){
                            transition: 1.6s all;
                        }
                        &:nth-child(5){
                            transition: 2s all;
                        }
                        &:nth-child(6){
                            transition: 2.4s all;
                        }
                        &:nth-child(7){
                            transition: 2.6s all;
                        }
                    }
                }
            }
        }
    }
    header{
        position: relative;
        &::before{
            content: '';
            background-color: #fff;
            left: -100%;
            right: -100%;
            height: 82.44px;
            position: absolute;
            z-index: 0;
        }
    }
    .header{
        position: relative;
        z-index: 1;
    }
    .header {
        background-color: #fff;
        margin-bottom: 10px;
        padding: 15px;
        .header-main{
            margin-right: auto;
            margin-bottom: 0;
            padding: 0;
            order: 3;
            .logo img{
                max-width: 130px;
            }
            .overlay-mobile{
                display: none;
                position: fixed;
                z-index: 12;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.8);
                &::before{
                    content: "Đóng";
                    // display: inline-block;
                    // font: normal normal normal 14px/1 FontAwesome;
                    // font-size: inherit;
                    // text-rendering: auto;
                    // -webkit-font-smoothing: antialiased;
                    // -moz-osx-font-smoothing: grayscale;
                    left: 318px;
                    position: relative;
                    color: #fff;
                    font-size: 18px;
                    top: 10px;
                }
            }
        }
        .top-bar{
            max-width: 140px;
            padding: 0;
            .right{
                position: relative;
                >a{
                    border-left: 1px solid #999;
                    padding: 3px 10px;
                }
                .language{
                    margin-left: 5px;
                    img{
                        max-width: 30px;
                    }
                }
                .form-search{
                    display: none;
                    position: absolute;
                    top: calc(100% + 7px);
                    z-index: 11;
                    width: 205px;
                    right: 0;
                }
            } 
        }

        .menu-wrap{
            position: fixed;
            background: rgba(255, 255, 255, 1);
            left: 0;
            bottom: 0;
            top: 0;
            right: 0;
            z-index: 99;
            padding: 20px;
            width: 300px;
            transform: translateX(-300%);
            opacity: 0;
            transition: 0.3s all;
            &.active{
                display: -webkit-box !important;
                display: -ms-flexbox !important;
                display: flex !important;
                transform: translateX(0%);
                opacity: 1;
                transition: 0.3s all;
                .main-menu{
                    -webkit-box-orient: vertical !important;
                    -webkit-box-direction: normal !important;
                    -ms-flex-direction: column !important;
                    flex-direction: column !important;
                    width: 100%;
                    max-height: 100%;
                    overflow-y: auto;
                    padding-right: 10px;
                    .menu-item{
                        width: 100%;
                        .menu-link{
                            display: flex;
                            i{
                                margin-left: auto;
                            }
                        }
                    }
                    .has-sub{
                        position: relative;
                        .btn-toggle-menu{
                            display: inline-block;
                            position: absolute;
                            width: 30px;
                            height: 30px;
                            z-index: 1;
                            top: 6px;
                            right: -22px;
                        }
                    }
                }
            }
        }
        .main-sub-mega{
            position: relative;
            padding: 0;
            margin-top: 0px;
            background-color: #fff;
            .sub-mega-item{
                max-width: 100%;
                margin-right: 0;
                margin-bottom: 0;
                a{
                    display: -webkit-box !important;
                    display: -ms-flexbox !important;
                    display: flex !important;
                    -webkit-box-align: center !important;
                    -ms-flex-align: center !important;
                    align-items: center !important;
                    padding: 10px;
                    margin-bottom: 0px;
                    img{
                        @include col-w(15px);
                        max-width: 15px !important;
                    }
                }
                &:last-child(){
                    border-bottom: 1px solid transparent;
                }
            }
        }
    }

    .header .menu-wrap .menu-item .menu-link .icon img{
        width: 20px;
        height: 20px;
        object-fit: scale-down;
    }
    .header .mega-menu .main-menu-mega .menu-mega-item{
        max-width: 100%;
        padding: 8px 0;
        &::before{
            display: none;
        }
    }
    .header .mega-menu .main-menu-mega .menu-mega-item{
        .link{
            text-align: left;
            display: inline-block;
        }
        .btn-toggle-menu{
            text-align: center;
            line-height: 30px;
            color: $theme;        
            &::before{
                content: "\f107";
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
            &.active{
                &::before{
                    transform: rotateZ(180deg);
                }
            }
        }
    } 
    .header .mega-menu .main-menu-mega .menu-mega-item .link img{
        display: none;
    }
    .header .mega-menu .main-menu-mega .menu-mega-item .link span{
        color: $theme;
        font-weight: 600;
        font-size: 18px;
    }

    .header .mega-menu{
        display: none;
        .animate-menu{
            display: none;
        }
    }
}

@media(max-width: 767px){
    header{
        &::before{
            content: '';
            height: 66.44px;
        }
    }
    .header .header-main .logo img{
        max-width: 100px;
    }
    .header{
        -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
        .login-home{
            order: 5;    
            width: calc(100% + 30px);
            background-color: #f4f4f4;
            margin: 10px -15px -15px -15px;
            padding: 15px 15px 5px;
            justify-content: space-between;
            .log-vcb{
                margin-right: 0;
                position: relative;
                z-index: 9;
                .btn-log{
                    position: relative;
                    z-index: 1;
                    i{
                        font-size: 16px;
                        color: #fff;
                        margin-left: 10px;
                    }
                }

                ul{
                    display: none;
                    padding: 10px;
                    position: absolute;
                    background-color: #fff;
                    left: 0;
                    right: 0;
                    top: calc(100% - 3px);
                    z-index: 0;
                    border: 1px solid #144633;
                    border-radius: 0 0 3px 3px;
                    li{
                        padding: 5px;
                        a{
                            font-size: 18px;
                            color: #404041;
                            display: inline-block;
                            width: 100%;
                        }
                        &:not(:last-child()){
                            a{
                                border-bottom: 1px solid #b9b9b9;
                                padding-bottom: 8px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 575px){
    header{
        padding: 0;
        .container{
            padding: 0;
        }
    }
    .header .header-main .menu-bar{
        margin-right: 10px;
    }
    .header .header-main .logo{
        padding-left: 0;
    }
    .header .top-bar .right .language{
        padding-right: 0;
    }
}
@media(max-width: 575px){
    .header .menu-wrap{
        width: 260px;
    }
    .header .header-main .overlay-mobile::before{
        left: 268px;
    }
}