.top-bar{
    background-color: #8cc63f;
    padding: 4px 0;
    .top-bar-wrap{
        @extend .d-flex;
        .left{
            .top-bar-phone{
                font-size: 16px;
                color: #fff;
                margin-top: 4px;
                img{
                    vertical-align: -8px;
                }
            }
        }
        .right{
            margin-left: auto;
            .top-bar-time{
                color: #fff;
                vertical-align: -2px;
            }
            .language{
                margin-left: 10px;
                img{
                    max-width: 27px;
                }
            }
        }
    }
}
.header-main{
    .banner-header{
        img{
            max-width: 100%;
        }
    }
    .menu-wrap{
        .menu{
            @extend .d-flex;
            background: #005030;
            padding-left: 0;
            .menu-item{
                .menu-link{
                    text-decoration: none;
                    font-size: 12px;
                    font-weight: bold;
                    color: #fff;
                    padding: 7px 3.5px;
                    display: inline-block;
                    &:hover{
                        color: #6FB241;
                    }
                    img{
                        vertical-align: -4px;
                    }
                }
                &:not(:first-child()){
                    &::before{
                        content: '|';
                        margin-top: 5px;
                        color: #6FB241;
                    }
                }
            }
        }
    }
}