.top-bar{
    background-color: #8cc63f;
    padding: 4px 0;
    .top-bar-wrap{
        @extend .d-flex;
        .left{
            .top-bar-phone{
                font-size: 16px;
                color: #fff;
                margin-top: 4px;
                img{
                    vertical-align: -8px;
                }
            }
        }
        .right{
            margin-left: auto;
            .top-bar-time{
                color: #fff;
                vertical-align: -2px;
            }
            .language{
                margin-left: 10px;
                img{
                    max-width: 27px;
                }
            }
        }
    }
}
.header-main{
    .banner-header{
        img{
            max-width: 100%;
        }
    }
    .menu-wrap{
        background: #005030;
        .menu{
            @extend .d-xl-flex, .flex-xl-row, .flex-column;
            padding-left: 0;
            .menu-item{
                .menu-link{
                    text-decoration: none;
                    font-size: 12px;
                    font-weight: bold;
                    color: #fff;
                    padding: 7px 3.5px;
                    display: inline-block;
                    &:hover{
                        color: #6FB241;
                    }
                    img{
                        vertical-align: -4px;
                    }
                }
                &:not(:first-child()){
                    &::before{
                        content: '|';
                        margin-top: 5px;
                        color: #6FB241;
                    }
                }
            }
        }
    }
}
@media(max-width: 1199px){
    .header-main{
        .menu-wrap{
            padding: 10px;
            .menu{
                position: fixed;
                background: #005030;
                left: 0;
                bottom: 0;
                top: 0;
                right: 0;
                z-index: 9991;
                padding: 20px;
                width: 270px;
                transform: translateX(-300%);
                opacity: 0;
                transition: 0.3s all;
                &.active{
                    display: -webkit-box !important;
                    display: -ms-flexbox !important;
                    display: flex !important;
                    transform: translateX(0%);
                    opacity: 1;
                    transition: 0.3s all;
                }
            }

            .bar-menu-mobile{
                margin-left: auto;
                color: #fff;
                padding: 5px 8px;
            }
        }
        .overlay-mobile{
            display: none;
            position: fixed;
            z-index: 999;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.8);
            &::before{
                content: "Đóng";
                left: 275px;
                position: relative;
                color: #fff;
                font-size: 16px;
                top: 10px;
            }
        }
    }
    .header-main .menu-wrap .menu .menu-item:not(:first-child)::before{
        display: none;
    }
}

@media(max-width: 575px){
    .top-bar .top-bar-wrap .right .top-bar-time{
        display: none;
    }
    .header-main{
        .container{
            padding: 0;
        }
    }
}